.tn-container {
    margin-left: 5%;
    margin-right: 5%
}
.tn-site-home{
    flex: 1 0 auto;
    width: 65%;
    min-width: 950px;
    padding: 30px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(100, 100, 100, .2);

}
.tn-color-gray{
    color: #BBB;
    text-decoration: none;
}
