html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f6f6f3;
    overflow-x: hidden;
}
.flex-fluid{
    flex: 1;
}
