/*margin百分比*/
.mx-3p{
    margin-left: 3%;
    margin-right: 3%;
}
.mx-5p{
    margin-left: 5%;
    margin-right: 5%;
}
.mx-10p{
    margin-left: 10%;
    margin-right: 10%;
}
.mx-15p{
    margin-left: 15%;
    margin-right: 15%;
}

.px-3p{
    margin-left: 3%;
    margin-right: 3%;
}
.px-5p{
    margin-left: 5%;
    margin-right: 5%;
}
.px-10p{
    margin-left: 10%;
    margin-right: 10%;
}
.px-15p{
    margin-left: 15%;
    margin-right: 15%;
}
