<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnkfz.tinynote.mapper.ContentMapper">

    <insert id="relationContentMeta">
        insert into relationship(cid,mid)
        values
        <foreach collection="metaIds" item="mid" separator=",">
            (#{cid},#{mid})
        </foreach>
    </insert>
    <update id="setStatusBatchIds">
        UPDATE content
        SET status = #{status},
        updated_at = NOW()
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
