<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnkfz.tinynote.mapper.MetaMapper">
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO meta (name,type)
        VALUES
        <foreach collection="metas" item="meta" separator=",">
            (#{meta.name},#{meta.type})
        </foreach>
    </insert>

    <delete id="clearContentMetaRelation">
        delete
        from relationship
        where cid = #{cid};
    </delete>
    <select id="selectMetaList" resultType="com.xnkfz.tinynote.domain.Meta">
        select m.id as id, m.name as name, m.type as type
        from meta m
                 left join relationship rs on m.id = rs.mid
        where rs.cid = #{cid}
          and m.type = #{type}
    </select>
    <select id="findMetaContentCount" resultType="com.xnkfz.tinynote.domain.MetaContentCount">
        SELECT
        m.name AS name,
        COUNT(c.id) AS count
        FROM
        meta m
        INNER JOIN
        relationship r ON m.id = r.mid
        INNER JOIN
        content c ON r.cid = c.id
        <where>
            <if test="type != null and type != ''">
                AND m.type = #{type}
            </if>
            <if test="status != null">
                AND c.status = #{status}
            </if>
            <if test="draft != null">
                AND c.draft = #{draft}
            </if>
        </where>
        GROUP BY
        m.name
        ORDER BY
        count DESC;
    </select>
    <select id="clearContentRelationship">
        DELETE FROM relationship
        WHERE cid IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
